<!DOCTYPE html>
<html>
<head>
    <title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link href="~/Assets/admin/css/monthly.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/font.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/lightbox.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/minimal.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/monthly.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/morris.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/style.css" rel="stylesheet" />
    <link href="~/bower_components/toastr/toastr.css" rel="stylesheet" />
    <link href="~/bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />

    <!-- //calendar -->
    <link href="~/Assets/admin/css/jqvmap.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <script src="~/Assets/admin/js/morris.js"></script>
    <script src="~/Assets/admin/js/raphael-min.js"></script>
    <script src="~/Assets/admin/js/jquery2.0.3.min.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.1.0/angular-ui-router.js"></script>
</head>
<body ng-app="ToanLeeShop">
    @*login*@
    <div ui-view></div>

    <script src="~/assets/admin/js/bootstrap.js"></script>

    <script src="~/Assets/admin/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Assets/admin/js/jquery.fileupload.js"></script>
    <script src="~/Assets/admin/js/jquery.min.js"></script>
    <script src="~/Assets/admin/js/jquery.nicescroll.js"></script>
    <script src="~/Assets/admin/js/jquery.scrollTo.js"></script>
    <script src="~/Assets/admin/js/jquery.slimscroll.js"></script>
    <script src="~/Assets/admin/js/jquery.vmap.asia.js"></script>
    <script src="~/Assets/admin/js/jquery.vmap.australia.js"></script>
    <script src="~/Assets/admin/js/jquery.vmap.europe.js"></script>
    <script src="~/Assets/admin/js/jquery.vmap.js"></script>
    <script src="~/Assets/admin/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Assets/admin/js/jquery.vmap.world.js"></script>

    <script src="~/Assets/admin/js/jquery2.0.3.min.js"></script>

    <script src="~/bower_components/jQuery/dist/jquery.min.js"></script>
    <script src="~/Assets/admin/js/lightbox-plus-jquery.min.js"></script>
    <script src="~/Assets/admin/js/monthly.js"></script>
    <script src="~/Assets/admin/js/morris.js"></script>
    <script src="~/Assets/admin/js/raphael-min.js"></script>
    <script src="~/Assets/admin/js/script.js"></script>
    <script src="~/Assets/admin/js/scripts.js"></script>
    <img src="~/Assets/admin/fonts/fontawesome-webfont.svg" />
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
    <script src="~/bower_components/toastr/toastr.js"></script>
    <script src="~/bower_components/bootbox/bootbox.js"></script>
    <script src="~/bower_components/bootbox.js/bootbox.js"></script>
    <script src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/bower_components/ckfinder/ckfinder.js"></script>
    <script src="~/bower_components/ngBootbox/ngBootbox.js"></script>
    <script src="~/bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="~/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>


    @*CODE TU CAU HINH*@

    <script src="~/App/Share/modules/shop.common.js"></script>
    <script src="~/app/Share/filters/statusFilter.js"></script>
    <script src="~/app/Share/service/apiService.js"></script>
    <script src="~/app/Share/service/notifileCationService.js"></script>
    <script src="~/app/Share/service/authData.js"></script>
    <script src="~/app/Share/service/authenticationService.js"></script>
    <script src="~/app/Share/service/loginService.js"></script>
    <script src="~/app/Share/service/commonService.js"></script>
    <script src="~/App/Components/posts/post.module.js"></script>
    <script src="~/app/components/product_category/productCategory.module.js"></script>
    <script src="~/app/components/product/product.module.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/app/components/product_category/productCategoryListController.js"></script>
    <script src="~/app/components/product_category/productCategoryAddController.js"></script>
    <script src="~/app/components/product_category/productCategoryEditController.js"></script>
    <script src="~/App/Components/posts/postAddController.js"></script>
    <script src="~/app/components/posts/postListController.js"></script>
    <script src="~/app/components/product/productAddController.js"></script>
    <script src="~/app/components/product/productEditController.js"></script>
    <script src="~/app/components/product/productListController.js"></script>
    <script src="~/App/Components/home/homeController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>

    <script>
        $(document).ready(function () {
            //BOX BUTTON SHOW AND CLOSE
            jQuery('.small-graph-box').hover(function () {
                jQuery(this).find('.box-button').fadeIn('fast');
            }, function () {
                jQuery(this).find('.box-button').fadeOut('fast');
            });
            jQuery('.small-graph-box .box-close').click(function () {
                jQuery(this).closest('.small-graph-box').fadeOut(200);
                return false;
            });

            //CHARTS
            function gd(year, day, month) {
                return new Date(year, month - 1, day).getTime();
            }

            graphArea2 = Morris.Area({
                element: 'hero-area',
                padding: 10,
                behaveLikeLine: true,
                gridEnabled: false,
                gridLineColor: '#dddddd',
                axes: true,
                resize: true,
                smooth: true,
                pointSize: 0,
                lineWidth: 0,
                fillOpacity: 0.85,
                data: [
                    { period: '2015 Q1', iphone: 2668, ipad: null, itouch: 2649 },
                    { period: '2015 Q2', iphone: 15780, ipad: 13799, itouch: 12051 },
                    { period: '2015 Q3', iphone: 12920, ipad: 10975, itouch: 9910 },
                    { period: '2015 Q4', iphone: 8770, ipad: 6600, itouch: 6695 },
                    { period: '2016 Q1', iphone: 10820, ipad: 10924, itouch: 12300 },
                    { period: '2016 Q2', iphone: 9680, ipad: 9010, itouch: 7891 },
                    { period: '2016 Q3', iphone: 4830, ipad: 3805, itouch: 1598 },
                    { period: '2016 Q4', iphone: 15083, ipad: 8977, itouch: 5185 },
                    { period: '2017 Q1', iphone: 10697, ipad: 4470, itouch: 2038 },

                ],
                lineColors: ['#eb6f6f', '#926383', '#eb6f6f'],
                xkey: 'period',
                redraw: true,
                ykeys: ['iphone', 'ipad', 'itouch'],
                labels: ['All Visitors', 'Returning Visitors', 'Unique Visitors'],
                pointSize: 2,
                hideHover: 'auto',
                resize: true
            });

        });
    </script>
    <!-- calendar -->
    <script type="text/javascript" src="js/monthly.js"></script>
    <script type="text/javascript">
        $(window).load(function () {

            $('#mycalendar').monthly({
                mode: 'event',

            });

            $('#mycalendar2').monthly({
                mode: 'picker',
                target: '#mytarget',
                setWidth: '250px',
                startHidden: true,
                showTrigger: '#mytarget',
                stylePast: true,
                disablePast: true
            });

            switch (window.location.protocol) {
                case 'http:':
                case 'https:':
                    // running on a server, should be good.
                    break;
                case 'file:':
                    alert('Just a heads-up, events will not work when run locally.');
            }

        });
    </script>
    <!-- //calendar -->
</body>
</html>