
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="account_grid">
    <div class=" login-right">
        <h3>Trang Đăng Nhập</h3>
        <p>Nếu bạn có tài khoản hãy đăng nhập ngay.</p>
        <form>
            <div>
                <span>Tài khoản hoặc Email<label>*</label></span>
                <input type="text">
            </div>
            <div>
                <span>Mật Khẩu<label>*</label></span>
                <input type="text">
            </div>
            <a class="forgot" href="#">Quên Mật Khẩu?</a>
            <input type="submit" value="Đăng Nhập">
        </form>
    </div>
    <div class=" login-left">
        <h3>KHÁCH HÀNG MỚI</h3>
        <p>Hãy tạo tài khoản mới để tham gia mua sắm cùng chúng tôi</p>
        <a class="acount-btn" href="#">Tạo Tài KHoản</a>
    </div>
    <div class="clearfix"> </div>
</div>

