
<div class="log-w3">
    <div class="w3layouts-main">
        <h2><strong><font color="green">Đăng nhập ngay </font></strong></h2>           <!--// ng-model="loginData.userName" // ng-model="loginData.password"-->
        <form action="#" method="post" ng-submit="loginSubmit()">
            <input type="text" class="ggg" name="Email" placeholder="Tên Đăng Nhập" ng-model="loginData.userName" required="">
            <input type="password" class="ggg" name="Password" placeholder="Mật Khẩu" ng-model="loginData.password" required="">
            <span><input type="checkbox" />Nhớ Mật Khẩu</span>
            <h6><a href="#">Quên Mật Khẩu?</a></h6>
            <div class="clearfix"></div>
            <input type="submit" value="Đăng Nhập" name="login">
        </form>
        <p>Bạn Không Có Tài Khoản ?<a href="#">Tạo Tài Khoản Mới </a></p>
    </div>
</div>
