<h1><strong><font color="green">DANH MỤC SẢN PHẨM</font></strong></h1>
<h1></h1>
<div class="col-md-6">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="keyword" placeholder="Nhập Từ Khóa">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search()">Tìn Kiếm</button>
        </span>
    </div>
</div>
<div class="col-md-6">
    <button class="btn btn-success" ui-sref="add_product_category" >Thêm Mới Danh Mục Sản Phẩm</button>
</div>
<div class="stats-last-agile">
    <table class="table stats-table ">
        <thead>
            <tr>
                <th><font color="orange">Tên Danh Mục</font></th>
                <th><font color="orange">Tên Tag</font></th>
                <th><font color="orange">Trạng Thái</font></th>
                <th><font color="orange">Thao Tác</font></th>
            </tr>
        </thead>
        <tbody>
            <!--// lặp ra dữ liệu-->
            <tr ng-repeat="item in productCategory">
                <td>{{item.Name}}</td>
                <td>{{item.Alias}}</td>
                <td><span ng-class="{'label label-success' : item.Status == true ,'label label-danger' : item.Status == false }">{{item.Status | statusFilter}}</span></td>
                <td>
                    <button class="btn btn-primary" ui-sref="edit_product_category({id:item.ID})"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" ng-click="deleteProductCategory(item.ID)"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>